{% extends "layout.html" %}
{% block content %}

<div class="justify-content-center mt-4">
    <Center>
        <h4>Upload The image File To be Translated</h4>
    </Center>
</div>
<div style="display: flex;flex-direction: row;justify-content: space-between;">
    <!-- <div class="mt-4">
        <video id="video" width="640" height="480" autoplay></video>
        <button id="capture-btn" class="btn btn-success">Capture Image</button>
    </div> -->
    <div style="width: 100%;margin-top: 80px;">
        {{ dropzone.create(action='upload') }}
        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
    </div>
</div>
<script>
    const video = document.getElementById('video');
    const captureButton = document.getElementById('capture-btn');

    // Access webcam and stream it to the video element
    async function initCamera() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia({ video: true });
            video.srcObject = stream;
        } catch (err) {
            console.error('Error accessing webcam:', err);
        }
    }

    // Capture image from webcam
    function captureImage() {
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        const imageDataURL = canvas.toDataURL('image/jpeg');
        // Send image data to Flask server
        fetch('/capture', {
            method: 'POST',
            body: JSON.stringify({ image_data: imageDataURL }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok) {
                alert('Image Sent Successfully')
                window.location.href = '/decoded'
            } else {
                alert('Error sending image:', response.statusText);
            }
        })
            .catch(error => {
                console.error('Error sending image:', error);
            });
    }

    // Initialize webcam when the page loads
    window.addEventListener('DOMContentLoaded', () => {
        initCamera().catch(console.error);
    });

    // Capture image when the button is clicked
    captureButton.addEventListener('click', captureImage);
</script>



{% endblock %}